<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>Hello friend!</title>
    <link rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css'>
    <link href="https://fonts.googleapis.com/css?family=Gugi" rel="stylesheet">
    <link rel="stylesheet" href="~/css/styles.css">
  </head>

  <body>
    <h1>Word Bank</h1>

    @if (@Model.Count == 0)
    {
      <h1>No words have been added yet!</h1>
    }

    @foreach (var game in Model)
    {
      <h3>@game.InitialWord</h3>
    }

    <p class="homeLink"><a href='/'>Back home</a></p>

  </body>
</html>
