<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>Hello friend!</title>
    <link rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css'>
  <link href="https://fonts.googleapis.com/css?family=Gugi" rel="stylesheet">
    <link rel="stylesheet" href="~/css/styles.css">
  </head>

  <body>
    <h1>ADD A WORD</h1>

    <form action="/categories" method="post">
      <label for="categoryName">A word for your friend to guess:</label>
      <input id="categoryName" name="categoryName" type="text">
      <button type="submit">Add Word</button>
    </form>

    <p><a href="/">Back home</a></p>
    <p><a href="/categories">Back to list of words</a></p>
  </body>
</html>
